.headC  {
  background-image: url("../mpft-ip/ip2/assets/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.ph  {
  text-align: center;
  color: white;
}

.party  {
  background-color: red;
  text-align: center;
}

.happy  {
  text-align: center;
}

.breakfast  {
  background-image: url("../mpft-ip/ip2/assets/foodtop/breakfast.jpg");
  height: 50px;
}
